/**
 * @link https://www.mathsisfun.com/style4.css  
 */
/* html, */
:root,html {
    margin:0px;
    padding:0px;
    color-scheme: only light;
}
/*embedding*/
iframe {
    width: 100%;
    height: 500px;
}

my-clip[map="www.mathsisfun.com"] {
    color: white;
    *{
        color: white;
    }
    --blue0: oklch(0.20 0.03 250);
    --blue1: oklch(0.25 0.05 250);
    --blue2: oklch(0.30 0.12 250);
    --blue: oklch(0.82 0.14 250);
    --blue-fg: oklch(0.90 0.08 250);
    --shade: oklch(0.6 0.04 240);
    --orange: oklch(0.75 0.15 80);
    .example {
        margin: 0.3rem 0.6rem 1.3rem 0.6rem;
        padding: 0.6rem;
        background-color: var(--blue1);
        border: 1px solid var(--blue2);
        border-radius: 1rem;
        box-shadow: 0.2rem 0.2rem 0.3rem var(--shade);
        overflow: hidden;
    }
    .center, .centerfull {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .tiny {
        font-size: 0.8rem;
        line-height: 1.5;
        color: var(--blue);
    }
    .small {
        font-size: 0.9rem;
        line-height: 1.5;
        color: var(--blue);
    }
    .large {
        font-size: 1.2rem;
        line-height: 1.5;
        color: var(--blue);
    }
    .larger {
        font-size: 1.3rem;
        line-height: 1.5;
        color: var(--orange);
        transition: var(--trans);
    }
    .largest {
        font-size: 1.6rem;
        line-height: 1.5;
        color: var(--gold);
    }
    .huge {
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: bold;
        color: var(--blue);
    }
}

#matrix-inverse {
    width: min-content;
    max-width: 80%;
}
